@media only screen and (min-width:1920px) {
    
}
@media only screen and (min-width:1366px) {
   
}
@media only screen and (max-width:1366px) {

}
@media only screen and (max-width:1200px) {
   
}
@media only screen and (max-width:1100px) {
    .rightColum {margin:15px 5px;}
    .aboutText .column {min-height:300px; margin-bottom:30px;}
    .userBtn a, .newBtn a {padding:10px 5px 10px 10px; font-size:18px;}
   .banner .irsLogo { margin-top:60px;}
   
}
@media only screen and (max-width:1000px) {
    
}
@media only screen and (max-width:930px) {
   .logo img {width:100%;}
   .callUs ul {padding-top:19px;}
   .aboutText .column {min-height:375px;}
   .aboutText .column h2, .aboutText .column h3, .aboutText .column h1 {font-size:20px;}
   .steps > div:first-child, .steps > div:nth-child(2) {margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #191919;}
   .sepLine {width:75%;}
   
     .rightColum {margin:0px;}
   .blueGrd.topMargin {margin-top:20px;}
   .navigation li {font-size:14px;}
   
}
@media only screen and (max-width:780px) {
   
}
@media only screen and (max-width:750px) {
    
}
@media only screen and (max-width:690px) {
   
   .logo img {width:100%; margin-top:0px;}
   .navbar-collapse {border-top:none; padding:0px;}
   .navigation {padding:0px; margin:10px 0px 0px; float:none; left:0; text-align:left;}
   .navigation > li {display:block; border-left:none; padding:2px 0px; float:none; left:0;}
   .navigation li a { padding: 10px 20px 10px 20px; }
   .banner { height:400px; max-height:400px; padding-top:10px;}
   .banner .bannerBg {width:90%;}
   .banner h2 {font-size:24px; margin-top:100px;}
   .banner .irsLogo {margin-left:0px; margin-top:0px; position:inherit; left:0px;}
   .banner .irsLogo img {width:50px;}
   .banner .priceTag {width:80px; position:inherit; right:0px;}
   .startBtn {font-size:20px; padding:8px 10px;}
   .aboutText .column {margin-bottom:20px; min-height:100px;}
   .steps {background:#ccc;}
   .steps > div, .steps > div:first-child, .steps > div:nth-child(2) {margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #fff;}
   .steps > div:last-child {border-bottom:none; margin-bottom:0px; padding-bottom:0px;}
   .sepLine {width:90%;}
   .rightColum {margin:30px;}
   .titleText h1, .titleText h2 {font-size:30px;}
   .cards img {width:20%;}
}
@media only screen and (max-width:590px) {
        
}
@media only screen and (max-width:468px) {
    
}
@media only screen and (max-width:320px) {
    .banner .priceTag {width:70px;}
}
