@{
    ViewBag.Title = "About";
}
@section banner {
    <div class="bannerInner">
        <div class="container">
            <div class="row">
                <h2>Food Which Makes You Happy</h2>
            </div>
        </div>
    </div>
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <h2>About Us</h2>
    <div class="barLine"></div>
    <img src="~/Content/Images/img7.jpg" alt="" class="aboutImg" /><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in erat ac ante pretium varius quis eget magna. Curabitur commodo nibh in sapien sagittis eget facilisis nibh iaculis. Nunc a condimentum diam. Duis vitae nisi turpis. Quisque tellus magna, vestibulum et viverra nec, blandit vel augue. Curabitur ante arcu, faucibus sit amet blandit accumsan, feugiat dignissim lacus. Nam in magna erat. Nullam quis sapien sed nibh condimentum laoreet porttitor tempor tortor. Ut iaculis nisl a felis mattis egestas. Praesent eget lacus vel massa tincidunt venenatis in eget arcu.</p><br />
    <p>Nam ac mauris mollis diam molestie bibendum. Vivamus sit amet varius nibh. Nulla in purus turpis. Etiam congue cursus varius. Suspendisse ut quam ante. Morbi auctor justo quis dui ultrices luctus. Praesent auctor egestas varius. Suspendisse potenti. Aliquam erat volutpat.</p><br />
    <p>Suspendisse potenti. Quisque consequat malesuada odio. Nullam sodales orci sed odio interdum in fermentum tellus vehicula. Nunc blandit volutpat sem nec tempus. Curabitur in viverra tellus. Donec eget convallis ligula. Mauris nulla odio, porttitor eu ullamcorper ac, sollicitudin vitae libero. Nunc blandit semper lacus, vitae cursus mauris posuere sit amet.</p><br />
    <p>Donec ultricies, tellus eu vehicula pharetra, orci velit commodo turpis, eu porttitor elit risus sed sem. In leo eros, commodo id imperdiet ac, dignissim a metus. Nam nec magna magna, eu vehicula neque. Donec arcu tellus, pellentesque tempus elementum porta, lobortis a lectus. Donec sit amet velit leo, quis cursus elit. Sed vel arcu eget massa tempus adipiscing sed in justo. Phasellus vestibulum, tellus vitae mattis consectetur, purus nibh gravida justo, vel malesuada massa tortor sed enim. Cras consectetur placerat lacus, id ornare risus commodo ut. Pellentesque vulputate sodales quam, sed convallis enim dictum sit amet. Praesent a tellus ac urna facilisis pretium. Aliquam nulla odio, facilisis sit amet dignissim vel, tempus quis massa. Donec felis tellus, suscipit eget malesuada et, vehicula et nisi. Fusce viverra lacus quis risus pellentesque venenatis. Donec ante metus, faucibus cursus mattis et, interdum vitae justo. Nam lobortis est sed nunc accumsan vel volutpat lectus ornare.</p>
</div>
<script type="text/javascript">
    $(function () {
        $('#menuAbout').addClass('active');
    });
</script>