@{
    ViewBag.Title = "Contact";
}
@section banner {
    <div class="bannerInner">
        <div class="container">
            <div class="row">
                <h2>Authentic Recipes For You</h2>
            </div>
        </div>
    </div>
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <h2>Reach Us</h2>
    <div class="barLine"></div>
    <div class="row">
        <div class="col-lg-6">
        @*<div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 locationCol">*@
            <div class="panel-body">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d971.5640987207216!2d80.21361482024106!3d13.082930365669984!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x9b9ac62a87b2cbe6!2sHot+Touch+Restaurant!5e0!3m2!1sen!2sin!4v1466093164680" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <br />
                        <h4> No: AB-103, 4th Avenue,</h4> 
                        <h4>  Shanthi Colony Main Road, </h4>
                        <h4>  Anna Nagar, Chennai, India</h4>
                    </p>
                    <p>
                        <strong>Contact No:</strong> 9551555000, 9551555111<br>
                        <strong>Email:</strong> <a href="#" class="defaultLink">contact@hottouchrest.com</a>
                    </p>
                    <p class="text-red"> Dine in | Take away | Home delivery </p>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="jumbotron">
                    <h3>Get in touch with us now!</h3>
                    <p>Feel free to contact us by contact to get more information.</p>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Username*" aria-describedby="basic-addon1">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Email ID*" aria-describedby="basic-addon1">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Contact No*" aria-describedby="basic-addon1">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Comments*" aria-describedby="basic-addon1">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>
                       <br/>
                    <a class="btn btn-primary" href="#" role="button">Submit</a>
                </div>
            </div>

            </div>
        </div>
   
  
<script type="text/javascript">
    $(function () {
        $('#menuContact').addClass('active');
    });
</script>
