@{
    ViewBag.Title = "Home Page";
}
@section banner {
    <div class="banner">
        <div class="container">
            <div class="row">
                <h2>A Treat For Your Taste Buds</h2>
                @*<div class="bannerBg">
                        <h6>Choose Your Order Type:</h6>
                    </div>*@
                <a href="#" class="onlineBtn">Order Online</a>
            </div>
        </div>
    </div>
}
<div class="menuList">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="~/Content/Images/img1.jpg" alt="" />
        <h4>Pomfret Polichadu</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
        <a href="#" class="orderBtn">Order Now</a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="~/Content/Images/img2.jpg" alt="" />
        <h4>Eral Sukka</h4>
        Morbi in erat ac ante pretium varius quis eget magna.<br />
        <a href="#" class="orderBtn">Order Now</a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="~/Content/Images/img3.jpg" alt="" />
        <h4>Fish Sukka</h4>
        Curabitur commodo nibh in sapien anibh iaculis.<br />
        <a href="#" class="orderBtn">Order Now</a>
    </div><div class="col-md-4 col-sm-6 col-xs-12">
        <img src="~/Content/Images/img4.jpg" alt="" />
        <h4>BBQ Chicken</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
        <a href="#" class="orderBtn">Order Now</a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="~/Content/Images/img5.jpg" alt="" />
        <h4>Chicken Briyani</h4>
        Morbi in erat ac ante pretium varius quis eget magna.<br />
        <a href="#" class="orderBtn">Order Now</a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="~/Content/Images/img6.jpg" alt="" />
        <h4>Button Briyani</h4>
        Curabitur commodo nibh in sapien anibh iaculis.<br />
        <a href="#" class="orderBtn">Order Now</a>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#menuHome').addClass('active');
    });
</script>