@{
    ViewBag.Title = "Home Page";
}

<div class="menuList">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="~/Content/Images/img1.jpg" alt="" />
        <h4>BBQ Chicken</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
        <a href="#" class="orderBtn">Order Now</a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="~/Content/Images/img2.jpg" alt="" />
        <h4>Spicy Chicken</h4>
        Morbi in erat ac ante pretium varius quis eget magna.<br />
        <a href="#" class="orderBtn">Order Now</a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="~/Content/Images/img3.jpg" alt="" />
        <h4>Chicken Salami</h4>
        Curabitur commodo nibh in sapien anibh iaculis.<br />
        <a href="#" class="orderBtn">Order Now</a>
    </div>
</div>