@{
    ViewBag.Title = "Menu";
}

@section banner {
    <div class="bannerInner">
        <div class="container">
            <div class="row">
                <h2>Food Which Makes You Happy</h2>
            </div>
        </div>
    </div>
}
<h2>Show Database value in DataTable</h2>
<div>
    <div id="product" class="portfolioremove" data-option-key="filter">
        <h2> 
             <a class="prolink" href="#filter" data-option-value="*">All <span> </span></a> 
             <a class="prolink" href="#filter" data-option-value=".Veg">Veg <span> </span></a> 
             <a class="prolink" href="#filter" data-option-value=".Non Veg">Non Veg </a>
             <a class="prolink" href="#filter" data-option-value=".Drinks">Drinks</a>
             <a class="prolink" href="#filter" data-option-value=".Deserts">Deserts </a> 
        </h2>
    </div>


    @foreach (var item in ViewBag.userdetails)
    {
        <div class="col-md-3 col-sm-4 col-xs-12" data-category="@item.icategory">
            @item.iname
            <br/>
            @item.itype
            <br/>
            <div>
                @item.iimage
                <img src="~/Content/Images/img2.jpg" />
            </div>
        </div>
    }   
</div>



<style>
    table#t01 {
        width: 100%;
        background-color: #f1f1c1;
    }

        table#t01 tr:nth-child(even) {
            background-color: #eee;
        }

        table#t01 tr:nth-child(odd) {
            background-color: #fff;
        }

        table#t01 th {
            color: white;
            background-color: blue;
        }

    table, th, td {
        border: 1px solid black;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
</style> 