@{
    ViewBag.Title = "Menu";
}

@section banner {
    <div class="bannerInner">
        <div class="container">
            <div class="row">
                <h2>Food Which Makes You Happy</h2>
            </div>
        </div>
    </div>
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Vegetarian <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Non Vegetarian</a></li>
                @*<ul class="bodyContent">
                    <li>
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="..." alt="...">
                            </a>
                        </div>
                        ...
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="..." alt="...">
                            </a>
                        </div>
                        ...
                    </div>
                    </li>
                </ul>*@
                <li><a href="#">Kababs | Barbeques </a></li>
                <li><a href="#">Curries</a></li>
                <li><a href="#">Fish & Prawns</a></li>
                <li><a href="#">Chinese</a></li>
                <li><a href="#">Drinks</a></li>
            </ul>
           
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>